:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #f5f5f5;
  --second-brand-color: rgb(86, 107, 86);
  --third-brand-color: #1d1d1d;
  --fourth-brand-color: #e11c18;

  --main-font:  'Raleway';
  --title-font:  'Raleway ExtraBold';
  --main-title-font: 'Muli';

  font-size: 62.5%;
}
